.work{
    overflow: hidden;
}


.header{
   width: 100%;
   
   height: 188px;
}

.header__search{
   height: 88px;
   background-color: var(--background-page);
}

.search{
   height: 88px;
   background-color: var(--background-page);
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.search__work{
    border: 1px solid var(--white-color);
    height: 38px;
    width: 250px;
}

.search__work-text{
    height: 100%;
    width: 212px;
    border: none;
    font-size: 18px;
    background-color: transparent;
    outline: none;
    color: var(--white-color);
    padding-left: 12px;
}

.search__work-text::placeholder{
    opacity: 0.5;
    padding-left: 16px;
    font-size: 16px;
}

.search__work-icon{
    text-decoration: none;
    line-height: 38px;
    font-size: 16px;
    color: var(--white-color);
    padding: 8px;
}

.navbar{
    height: calc(188px - 88px);
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar__item-list{
    list-style: none;
    display: flex;
}

.navbar__item-list--btn a{
    color: #000;
    font-size: 16px;
    display: block;
    padding: 10px 20px;
    font-weight: 900;
    text-decoration: none;
}

.navbar__item-list--btn a:hover{
    color: var(--background-page);
}

.slider {

}


.slider-content{
    background-image: url(../img/pexels-photo-6926470.jpeg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50%;
    position: relative;
    
}

.slider-content-outfley{
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.slider-content-motify{
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.slider__bgr-text {
    color: var(--white-color);
    font-size: 143px;
    position: relative;
    margin: 0px;
    top: -127px;
    font-weight: 900;
    font-family: auto;
}

.slider__bgr-impart {
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 300;
    line-height: 36px;
}

.slider__bgr-triangle-updown {
    width: 222px;
    height: 236px;
    margin-top: 158px;
    fill: var(--background-page);
} 

.slider__bgr-triangle-down-btn {
    font-size: 100px;
    color: var(--white-color);
    margin-top: 36px;
}

/* route work */

.route-work{
    background-color: var(--backgruond-about);
    overflow: hidden;
}

.route-work__heading{
    text-align: center;
    margin: 78px 0px 62px;
    font-size: var(--font-heading-size);
    font-weight: var(--font-heading-weight);
    font-family: auto;
}

.route-work-steps{
    
}

.route-work-steps__list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0px;
}

.route-work-steps__list-item{
    background-color: var(--white-color);
    text-align: center;

}

.route-work-steps__list-item__icon{
    font-size: 44px;
    padding-top: 30px;
}

.route-work-steps__list-item__heading{
    font-size: 19px;
    letter-spacing: 3px;
}

.route-work-steps__list-item__text{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.4px;
    color: var(--text-color);
    display: block;
    padding: 16;
    padding: 0px 8px 30px;
}

.route-work-steps__list-item-right{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.route-work-steps__list-item-vector {
    text-align: center;
    color: var(--white-color);
    font-size: 70px;
    height: 120px;
    line-height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: var(--background-page);
}

.route-work__end{
    display: block;
    text-align: center;
    font-size: 17px;
    color: var(--text-color);
    padding: 60px 270px 74px;
    line-height: 1.5;
    letter-spacing: 0.4px;
}

/*end rout*/

.coach {
    margin-bottom: 106px;
    overflow: hidden;
}

.coach-content {
    margin-left: 122px;
}

.coach__leader{
    
}

.coach-content__heading {
    font-size: var(--font-heading-size);
    font-family: var(--font-family);
    margin-top: 162px;
}

.coach-content__text {
    margin-top: 60px;
    font-size: 16px;
    color: var(--text-color);
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.coach-build {
    background-color: var(--backgruond-about);
    overflow: hidden;
    margin-top: 64px;
    padding: 30px;
    position: relative;
}

.coach-buid__heading {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 1.7px;
    margin: 0px;
}

.coach-buid__border{
    border-top: 3px solid var(--white-color);
    margin: 30px 0px 34px;
}

.coach-buid__list {
    list-style: none;
    padding: 0px;
}


.coach-buid__list-item {
    align-items: baseline;
    display: flex;
    margin-top: 24px;
}

.coach-buid__list-icon{
    color: var(--white-color);
    padding-right: 8px;
}

.coach-build__text {
    font-size: 16px;
    color: var(--text-color);  
    line-height: 32px;
}


/*percept*/
.percept {
    margin-top: 120px;
}

.percept__header{

}


.percept__heading-img {
    background-image: url(../img/pexels-photo-5936860.jpeg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    min-height: var(--height-img--percept);
    position: relative;
}

.percept__heading-text {
    position: absolute;
    color: var(--white-color);
    line-height: 68px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: var(--font-heading-size);
    font-family: var(--font-family);
    text-align: center;
    min-width: 100%;
    padding: 0 186px;
}

.percept__content {
    
}

.percept__content-list {
    list-style: none;
    padding: 0;
}

.percept__content-list--li {
    font-size: 16px;
    color: var(--color-precept);
    line-height: 1.6;
}

.percept__content-heading {
    font-size: 20px;
    font-weight: 300;
    color: var(--text-color);
}

.percept__content--advice {

}

.percept__content--advice-boder{
    border-top: 8px solid var(--background-page);
    margin: 14px 0px;
}

.percept__content-list--li{
    padding-right: 20px;
}

.percept__content--advice-wrap{
    margin-top: 20px;
    padding-right: 24px;
}

/*support*/

.support {

}

.support__background {
    background-image:linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url(../img/background_person.jpeg), url(../img/background_person.jpeg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.support__image{
    background-image: url(../img/person.jpeg);
    min-height: 739px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 60px 0;
    background-size: 528px 739px;
}  


.support-header {
    background-color: var(--background-page);
    width: 656px;
    height: 160px;
    text-align: center;
    position: relative;
    left: -156px;
    top: 167px;
}  

.support-header__heading {
    line-height: 57px;
    font-size: var(--font-heading-size);
    font-family: var(--font-family);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    left: 154px;
    text-align: left;
    color: var(--white-color);
}

.support-content__help-profil{
    margin: 200px 68px 0px 0px;
    text-shadow: 0.2px 0.2px 0.2px #000;
    color: var(--white-color);
}

.support-content__help--note {
    font-size: 20px;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: 1px;
}

.support-content__help {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.5px;
}  

.support-content__help--icon {
    margin: 50px 0px 0px 8px;
    font-size: 60px;
}

/* ABOUT */

.about {

}

.about__partner {
    margin-top: 75px;
}

.about__partner-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
}

.about__partner-list--item {
    
}

.about__partner-list__img{
    width: 110px;
}

.about__content {
    margin-top: 110px;
}
.about__content-heading {
    font-size: var(--font-heading-size);
    font-weight: var(--font-heading-weight);
    font-family: var(--font-family);
}

.about__content--review{
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
}
.about__content-list {
    margin-top: 60px;
    padding: 0;
    list-style: none;
}
.about__content-list--border {
    border-top:16px solid var(--background-page);
    background-color: var(--backgruond-about); 
}
.about__content-list--item {
    
    text-align: center;
}
.about__content-list--number {
    font-weight: 900;
    font-size: 60px;
    display: block;
    margin: 5 0px;
    margin: 64px 0px 16px;
    line-height: 1.4;
}
.about__content-list--head {
    font-size: 16px;
    letter-spacing: 1.8px;
    font-weight: 600;
}
.about__content-list--text {
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color);
    padding: 0px 18px 48px;
}

/* contact */

.contact {
    background-color: rgb(242,242,242);
    margin-top: 104px;
}

.contact__form {
    margin: 62px 38px 98px 20px;
}

.contact__form--inform {
    padding: 24px 0 0 0;
}

.contact__form-heading {
    font-size: 16px;
    font-weight: 900
}

.contact__form-border--bottom{
    width: 100%;
    padding-top: 16px;
}

.contact__form--text{
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: none;
    border-bottom: 2px solid var(--text-color);
    background-color: rgb(242,242,242);
}



.contact__form--text::placeholder{
    opacity: 0.7;
    font-size: 16px;
}

.contact__form-email {

}

.contact__form-name {

}

.contact__form--date {

}

.contact__form-border--option{
    width: 100%;
    font-size: 18px;
    padding: 11px;
    
    border-bottom: 2px solid var(--text-color);
    
}

#contact__form-border--item{
    background-color: rgb(242,242,242);
    border: none;
    width: 100%;
}

.contact__form--inform--flex{
    flex-basis: 45%;
}

.contact__form--inform--flex--wrap{
    display: flex;
    justify-content: space-between;
}

.contact__form-border--trick{
    position: relative;
}

.contact__form--text-icon{
    position: absolute;
    top: 7%;
    right: 12px;
    transform: translateY(50%);
    font-size: 28px;
}

.contact__form--phone {

}

.contact__form--messager {
    padding-top: 24px;
}

#contact__form--messager-text {
    height: 100px;
    margin-right: 50px;
}

.contact__form--submite {
    margin-top: 18px;
    height: 46px;
    width: 134px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border: none;
}

.contact__end{
    background-color: var(--background-page);
    margin-top: 53px;
}
.contact__end--text{
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
    display: block;
    font-weight: 300;
    padding: 84px 38px 114px;
}

/* footer */

.footer {
    background-color: rgb(51,51,51);
    text-align: center;
    overflow: hidden;
}

.footer__content {
    color: var(--white-color);
    margin: 24px 339px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}

.footer__content--boder{
    border-top: 3px solid rgb(59,59,59);
}

.footer__text {
    margin: 26px;
}

.footer__content-text--link {
    color:rgb(140,163,184);
    font-size: 14px;
}

.footer__content-text--and {
    color: var(--white-color);
    font-size: 14px;
}

/*menu__navbar*/

.menu__mobile {
    margin-right: 38px;
    display: none;
}

.menu__mobile-icon {
    height: 24px;
    width: 24px;
    margin-right: 38px;
}
}

.menu__mobile--overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    animation: fadein linear 0.2s;
}

.mobile__item {
    position: fixed;
    width: 320px;
    max-width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    z-index: 1;
    transform: translateX(100%);
    transition: transform linear 0.2s;
}

.mobie__item--close{
    position: absolute;
    left: 16px;
    top: 16px;
    width: 24px;
    height: 24px;
    color: #fff;
}

.mobile__item-list {
    list-style: none;
    text-align: center;
    padding: 0;
    margin-top: 96px;
}

.mobile__item-list--btn{
    margin-top: 16px;
}

.mobile__item-list--btn a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    line-height: 1.5;
    font-weight: 500;
    padding: 8px 16px;
    display: block;
}

.menu__input{
    display: none;
}

#menu__mobile--input:checked ~ .menu__mobile--overlay{
    display: block;
}

#menu__mobile--input:checked ~ .mobile__item{
    transform: translateX(0%);
}

.percept__content-list {
    list-style: none;
    padding: 0 38px;
}

.percept__content-list--li {
    padding-right: 0px;
    padding-left: 12px;
}
@keyframes fadein{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}